* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    width: 100%;
    padding: 20px;
    background-color: gray;
}

.container-grid {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.foto img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 50px;
    margin-bottom: 15px;
}

@media(max-width: 768px) {
    .container-grid {
        grid-template-columns: 1fr;
    }
}