* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: gray;
    padding: 40px;
    align-items: center;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    gap: 20px;
}

.card {
    background-color: white;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}

.card img {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
}

@media(max-width: 768px) {
    .card-grid{
        grid-template-columns: 1fr;
    }
}